*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}
