@import '../abstracts/variables';
@import '../abstracts/mixins';

html {
  font-size: 1rem;
}

body {
  font-family: 'Darker Grotesque';
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

// Navigation
.nav--link {
  color: $light-color;
  font-weight: bold;
  transition: all 0.5s;

  &:hover {
    color: $font-color1;
  }
}

.heading {
  color: $light-color;
  font-family: 'Anton';
  text-transform: uppercase;
  font-size: 2.5rem;
  border-top: dashed 1px $light-color;
  border-bottom: dashed 1px $light-color;
}

.heading--text {
  color: $light-color;
  font-family: 'Anton';
  font-size: 1.5rem !important;
  text-transform: uppercase;
  text-align: center;
}

// Heading Div's
.heading__div--text {
  color: $font-color2;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Fjalla One';
  line-height: 1;
}

.under--text {
  padding-left: 1rem;
  font-size: 4rem;
  font-family: 'Fjalla One';
  text-transform: uppercase;
  display: block;
  line-height: 1;
}

// About Section
.description--div {
  p {
    font-weight: 500;
    max-width: 50ch;
  }
  span,
  ul {
    font-weight: 700;
  }
}

// Divider
.heading--4 {
  color: $light-color;
  text-transform: uppercase;
  font-family: 'Fjalla One';
  font-size: 3rem;
}

.total--cuts {
  color: $light-color;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
  font-family: 'Anton';
}

.bg--text {
  .cut--counter {
    color: $light-color;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Fjalla One';
  }
}

.bg--text > span {
  color: $light-color;
  font-size: 2rem;
  font-family: 'Fjalla One';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.outtro--div {
  text-align: center;
  font-family: 'Fjalla One';
  font-size: 1.5rem;
  text-transform: uppercase;
}

.outtro__links--header {
  font-family: 'Fjalla One';
  font-size: 1.2rem;
  text-transform: uppercase;
}

.outtro--text {
  font-weight: 600;
}

// Footer
.footer--heading {
  h5,
  h6 {
    color: $light-color;
    font-weight: 700;
    font-size: 0.9rem;
  }
}

.footer--remain {
  color: $light-color;
  font-weight: 600;

  a {
    color: $light-color;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }
}

.footer--credit {
  color: $light-color;
  font-weight: 600;
  a {
    color: $light-color;
  }

  i {
    margin: 0 0.5rem;
  }

  .icon8--btn {
    cursor: pointer;
  }
}
