@import './variables';

// Navigation
// Hamburger Menu
.hamburger--hover:hover {
  animation: hamburgerHover 0.7s forwards ease-in;
  @keyframes hamburgerHover {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }
}

.hamburger--hover:active {
  animation: hamburgerCheck 0.5s forwards ease-in;
  @keyframes hamburgerCheck {
    100% {
      transform: translateY(50px);
    }
  }
}

// Mobile Drop Down Effect from Hamburger Btn
.mobile--dropdown {
  .mobile--ul {
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
    transform: translateY(0);
  }
}

.heading--animation {
  animation: headingSlide 1s forwards ease-in-out;
}

@keyframes headingSlide {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0);
  }
}

.span--animation {
  animation: spanSlide 1s forwards ease-in-out;
}

@keyframes spanSlide {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0);
  }
}

.icon--transition {
  animation: iconTransition 1s forwards ease-in;

  @keyframes iconTransition {
    0% {
      opacity: 0.2;
      transform: scale(0.1);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
