$background-color: rgb(0, 0, 0);
$background-color-alpha: rgba(0, 0, 0, 0.699);
$light-color: #fff;
$showcase-color1: rgba(32, 33, 36, 0.829);
$showcase-color2: rgba(138, 180, 248, 0.274);
$font-color1: #dc9e71;
$font-color1--alpha: rgba(220, 158, 113, 0.616);
$font-color2: #87241a;
