@import "../../styles/variables.module.scss";

.aboutContainer {
  div {
    @extend %flex-center;
    padding: 2rem;
  }

  h2 {
    font-size: 6rem;
    text-transform: uppercase;
  }

  h3 {
    font-size: 4rem;
    text-align: center;
  }

  article {
    @extend %flex-center;

    p {
      font-size: 1.7rem;
      line-height: 2;
      max-width: 100ch;
    }
  }

  ul {
    @extend %flex-center;

    li {
      font-size: 1.4rem;
      font-weight: bold;
      padding-right: 1rem;

      svg {
        padding-right: 1rem;
      }
    }
  }
}

@media (min-width: 200px) and (max-width: 900px) {
  .aboutContainer {
    & > div {
      flex-direction: column;
    }

    h2 {
      font-size: 4rem;

      span {
        display: block;
        padding-left: 2rem;
      }
    }

    article {
      p {
        max-width: 40ch;
        line-height: 1.7;
      }
    }

    ul {
      flex-direction: column;

      li {
        padding: 0.5rem;
        width: 50%;
      }
    }
  }
}
