@import './variables.scss';

.nav {
  &Container {
    position: relative;
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
  }

  &Wrapper {
    width: 100%;
    max-width: 100%;
    transition: all 500ms;
    padding: 1rem;
    background: transparent;
    position: fixed;
    z-index: 2;
    outline: 1px solid black;

    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 120rem;
      margin-inline: auto;
    }

    & a {
      font-family: $nav-font;
      color: #fff;
      font-size: 1.5rem;
    }
  }
}
