.navContainer {
  position: sticky;
  max-width: 120rem;
  width: 100%;
  margin-inline: auto;
  transition: all 500ms;
  padding: 1rem;
  background: transparent;
  z-index: 2;

  & > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navAnchor {
  color: #fff;
  font-size: 1.5rem;
}
