// Colors
$font-color1: #dc9e71;
$font-color2: #87241a;

// Fonts
$heading-font: 'Anton';
$section-font: 'Fjalla One';
$nav-font: 'Orelega One';
$bio-font: 'Pathway Gothic One';

// Extends
%heading--text {
  text-align: center;
  text-transform: uppercase;
}

%container {
  max-width: 120rem;
}
