@import "../../styles/variables.module.scss";

.navContainer {
	color: $font-color-light;
	padding: 2rem;
	position: fixed;
	height: auto;
	width: 100%;
	max-width: 100%;
	z-index: 10;

	ul {
		display: flex;
		justify-content: space-around;
		align-items: center;

		li {
			font-size: 2.2rem;
		}
	}

	a:hover {
		color: $font-color;
		transition: $transition;
	}
}

@media (min-width: 200px) and (max-width: 900px) {
	.navContainer {
		ul {
			li {
				font-size: 1.6rem;
			}
		}
	}
}
