*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  line-height: 1.6; }

img {
  max-width: 100%;
  display: block; }

html {
  scroll-behavior: smooth; }

html {
  scrollbar-width: thin;
  scrollbar-color: #333; }

html {
  font-size: 1rem; }

body {
  font-family: 'Darker Grotesque'; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.nav--link {
  color: #fff;
  font-weight: bold;
  transition: all 0.5s; }
  .nav--link:hover {
    color: #dc9e71; }

.heading {
  color: #fff;
  font-family: 'Anton';
  text-transform: uppercase;
  font-size: 2.5rem;
  border-top: dashed 1px #fff;
  border-bottom: dashed 1px #fff; }

.heading--text {
  color: #fff;
  font-family: 'Anton';
  font-size: 1.5rem !important;
  text-transform: uppercase;
  text-align: center; }

.heading__div--text {
  color: #87241a;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'Fjalla One';
  line-height: 1; }

.under--text {
  padding-left: 1rem;
  font-size: 4rem;
  font-family: 'Fjalla One';
  text-transform: uppercase;
  display: block;
  line-height: 1; }

.description--div p {
  font-weight: 500;
  max-width: 50ch; }

.description--div span,
.description--div ul {
  font-weight: 700; }

.heading--4 {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Fjalla One';
  font-size: 3rem; }

.total--cuts {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 1;
  font-family: 'Anton'; }

.bg--text .cut--counter {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Fjalla One'; }

.bg--text > span {
  color: #fff;
  font-size: 2rem;
  font-family: 'Fjalla One';
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-weight: 700; }

.outtro--div {
  text-align: center;
  font-family: 'Fjalla One';
  font-size: 1.5rem;
  text-transform: uppercase; }

.outtro__links--header {
  font-family: 'Fjalla One';
  font-size: 1.2rem;
  text-transform: uppercase; }

.outtro--text {
  font-weight: 600; }

.footer--heading h5,
.footer--heading h6 {
  color: #fff;
  font-weight: 700;
  font-size: 0.9rem; }

.footer--remain {
  color: #fff;
  font-weight: 600; }
  .footer--remain a {
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1rem; }

.footer--credit {
  color: #fff;
  font-weight: 600; }
  .footer--credit a {
    color: #fff; }
  .footer--credit i {
    margin: 0 0.5rem; }
  .footer--credit .icon8--btn {
    cursor: pointer; }

.hamburger--hover:hover {
  animation: hamburgerHover 0.7s forwards ease-in; }

@keyframes hamburgerHover {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }

.hamburger--hover:active {
  animation: hamburgerCheck 0.5s forwards ease-in; }

@keyframes hamburgerCheck {
  100% {
    transform: translateY(50px); } }

.mobile--dropdown .mobile--ul {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  transform: translateY(0); }

.heading--animation {
  animation: headingSlide 1s forwards ease-in-out; }

@keyframes headingSlide {
  0% {
    transform: translateX(-1000px); }
  100% {
    transform: translateX(0); } }

.span--animation {
  animation: spanSlide 1s forwards ease-in-out; }

@keyframes spanSlide {
  0% {
    transform: translateX(1000px); }
  100% {
    transform: translateX(0); } }

.icon--transition {
  animation: iconTransition 1s forwards ease-in; }

@keyframes iconTransition {
  0% {
    opacity: 0.2;
    transform: scale(0.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.out {
  outline: 1px solid white; }

.hide--content {
  display: none; }

.invisible {
  visibility: hidden; }

.nav--container {
  max-width: 70rem;
  height: auto;
  margin-inline: auto;
  padding: 1rem;
  position: relative; }

.footer--container {
  max-width: 70rem;
  height: auto;
  margin-inline: auto;
  padding: 0.5rem;
  position: relative; }

.container {
  max-width: 70rem;
  height: auto;
  margin-inline: auto;
  padding: 1rem; }

.heading--div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0; }

.description--div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 2rem; }

.img--div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  position: relative;
  overflow: hidden; }

.map--div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 50vh;
  padding: 1.5rem; }
  .map--div #mapid {
    height: 100%;
    width: 100%; }

#divider,
#divider--2,
#divider--3 {
  position: relative;
  max-width: 100%;
  height: auto; }

#divider > .bg--image {
  background-image: url("../img/divider--img.jpg");
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(3px); }

#divider--2 > .bg--image {
  background-image: url("../img/barberpole2.jpg");
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#divider > .bg--text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#divider--2 > .bg--text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

.cut__counter--div {
  background-color: rgba(0, 0, 0, 0.699);
  padding: 1rem; }

.white--bg {
  background-color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.white__bg--transparant {
  background-color: rgba(255, 255, 255, 0.705);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.black {
  color: #000;
  transition: all 1s;
  -webkit-transition: all 1s; }

.center {
  text-align: center; }

img {
  max-width: 100%; }

.nav--logo {
  max-width: 100%;
  height: 3rem; }

.hero--container > img {
  max-width: 100%;
  height: 10rem; }

.about__img--div .shop--front {
  height: 30rem;
  border-radius: 0.3rem; }

.slide > img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center; }

.navigation__toggle {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem; }
  .navigation__toggle .toggle--btn {
    height: 0.3rem;
    width: 100%;
    background: #fff;
    border-radius: 0.1rem; }

.navigation__link {
  transition: color 0.5s; }
  .navigation__link:hover {
    color: #dc9e71; }

.btn {
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  width: 40%;
  text-align: center;
  color: black;
  background: linear-gradient(to right, #dc9e71 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all 0.7s ease-out;
  border-radius: 3px;
  padding: 0.5rem 1.5rem; }
  .btn:hover {
    background-position: left bottom;
    color: #fff; }

.navigation__button--dark {
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #fff 50%, #dc9e71 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  transition: all 0.7s ease-out;
  border-radius: 3px;
  padding: 0.5rem 1.5rem; }
  .navigation__button--dark:hover {
    background-position: left bottom;
    color: #87241a; }

.hamburger--btn {
  padding-left: 1rem;
  color: #fff; }

.fa-eye {
  padding-top: 0.5rem; }

.fa-gem {
  display: inline-block;
  background-color: none !important;
  padding: 0 1rem; }

.fa-caret-right {
  margin: 0 1rem; }

.fa-calendar-check {
  font-size: 4rem; }

.fa-cut {
  font-size: 4rem; }

.footer--icon {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s;
  margin: 0 0.1rem;
  -webkit-transition: all 0.5s; }
  .footer--icon:hover {
    color: #dc9e71; }

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.desktop--div {
  padding: 0.5rem;
  max-width: 70rem;
  margin-inline: auto;
  padding: 1rem; }

.desktop--ul {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.mobile--div {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2; }

.mobile--left {
  width: 45%;
  display: flex;
  align-items: flex-start; }

.mobile--right {
  width: 55%;
  display: flex;
  align-items: flex-start; }

.mobile--dropdown {
  overflow: hidden;
  height: 2rem;
  padding: 0.5rem;
  background: transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }
  .mobile--dropdown ul {
    display: flex;
    justify-content: space-between;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    transform: translateY(-50px); }

.hero--container {
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(32, 33, 36, 0.829), rgba(138, 180, 248, 0.274)), url("../img/showcase.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.hero__logo--div {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }

.hero__heading--div {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.heading--div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0; }

.description--div ul {
  margin-top: 1rem; }

#gallery__section {
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem; }
  #gallery__section .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s; }
  #gallery__section .slider__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    font-size: 100%;
    cursor: pointer; }
  #gallery__section .slider__btn--left {
    left: 5%;
    transform: translate(-50%, -50%); }
  #gallery__section .slider__btn--right {
    right: 5%;
    transform: translate(50%, -50%); }
  #gallery__section .dots {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex; }
  #gallery__section .dots__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;
    /* Only necessary when overlying images */
    box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); }
  #gallery__section .dots__dot:last-child {
    margin: 0; }
  #gallery__section .dots__dot--active {
    background-color: #fff;
    background-color: #888;
    opacity: 1; }

footer {
  background-color: black; }
  footer .footer--heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  footer .footer--remain {
    margin-bottom: 0.5rem;
    display: flex; }
    footer .footer--remain div {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
  footer .footer--credit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.2rem; }
  footer .icon--links {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .icon--links a {
      margin: 0 0.2rem;
      color: #fff;
      font-size: 0.8rem;
      font-weight: 500; }

.hamburger--hover:hover {
  animation: hamburgerHover 0.7s forwards ease-in; }

@keyframes hamburgerHover {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }

.hamburger--hover:active {
  animation: hamburgerCheck 0.5s forwards ease-in; }

@keyframes hamburgerCheck {
  100% {
    transform: translateY(50px); } }

.mobile--dropdown .mobile--ul {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  transform: translateY(0); }

.heading--animation {
  animation: headingSlide 1s forwards ease-in-out; }

@keyframes headingSlide {
  0% {
    transform: translateX(-1000px); }
  100% {
    transform: translateX(0); } }

.span--animation {
  animation: spanSlide 1s forwards ease-in-out; }

@keyframes spanSlide {
  0% {
    transform: translateX(1000px); }
  100% {
    transform: translateX(0); } }

.icon--transition {
  animation: iconTransition 1s forwards ease-in; }

@keyframes iconTransition {
  0% {
    opacity: 0.2;
    transform: scale(0.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@media (min-width: 1150px) {
  .mobile__nav--container {
    display: none; }
  .desktop__nav--container {
    display: contents; }
  .heading {
    font-size: 4rem; }
  .heading--text {
    font-size: 2.5rem !important; }
  .btn {
    width: 25%; }
  #about .container .heading--div {
    flex-direction: row; }
  #about .container .description--div {
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center; }
    #about .container .description--div p {
      max-width: 100ch;
      font-size: 1.6rem; }
    #about .container .description--div ul {
      margin-top: 2rem;
      display: flex;
      font-size: 1.3rem; }
  #about .container .img--div .shop--front {
    display: none; }
  #divider {
    text-align: center; }
    #divider h4 {
      display: inline;
      flex-direction: row;
      font-size: 2.85rem; }
    #divider span {
      margin-left: 0.2rem;
      display: inline;
      font-size: 2.85rem; }
  #booking .container .heading--div {
    flex-direction: row; }
  #booking .container .description--div {
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center; }
    #booking .container .description--div p {
      max-width: 100ch;
      font-size: 1.6rem; }
    #booking .container .description--div .navigation__button--dark {
      width: 50%;
      text-align: center; }
  #divider--2 {
    text-align: center; }
    #divider--2 h4 {
      display: inline;
      font-size: 2.85rem;
      font-family: 'Fjalla One'; }
    #divider--2 span {
      display: inline;
      font-size: 2.85rem;
      margin-left: 0.2rem; }
  #gallery .container .heading--div {
    flex-direction: row; }
  #gallery .container .description--div {
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center; }
    #gallery .container .description--div p {
      max-width: 100ch;
      font-size: 1.6rem; }
  #divider--3 .outtro--description .outtro--text {
    max-width: 100ch;
    font-size: 1.2rem; }
  #divider--3 .outtro__links--header {
    font-size: 2rem; }
  #divider--3 .outtro--link div > a {
    font-size: 2rem; }
  #divider--3 .outtro--img img {
    width: 20% !important; } }

@media (min-width: 760px) and (max-width: 1149px) {
  .mobile__nav--container {
    display: none; }
  .desktop__nav--container {
    display: contents; }
  .heading {
    font-size: 2.5rem; }
  .heading--text {
    font-size: 2rem !important; }
  .btn {
    width: 25%; }
  #about .container .heading--div {
    flex-direction: row; }
  #about .container .description--div {
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center; }
    #about .container .description--div p {
      max-width: 60ch;
      font-size: 1.5rem; }
    #about .container .description--div ul {
      margin-top: 2rem;
      display: flex;
      font-size: 1.2rem; }
  #about .container .img--div .shop--front {
    display: none; }
  #divider {
    text-align: center; }
    #divider h4 {
      display: inline;
      flex-direction: row;
      font-size: 2.85rem; }
    #divider span {
      margin-left: 0.2rem;
      display: inline;
      font-size: 2.85rem; }
  #booking .container .heading--div {
    flex-direction: row; }
  #booking .container .description--div {
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center; }
    #booking .container .description--div p {
      max-width: 60ch;
      font-size: 1.5rem; }
    #booking .container .description--div .navigation__button--dark {
      width: 50%;
      text-align: center; }
  #divider--2 {
    text-align: center; }
    #divider--2 h4 {
      display: inline;
      font-size: 2.85rem;
      font-family: 'Fjalla One'; }
    #divider--2 span {
      display: inline;
      font-size: 2.85rem;
      margin-left: 0.2rem; }
  #gallery .container .heading--div {
    flex-direction: row; }
  #gallery .container .description--div {
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center; }
    #gallery .container .description--div p {
      max-width: 60ch;
      font-size: 1.5rem; }
  #divider--3 .outtro--description .outtro--text {
    max-width: 100ch;
    font-size: 1.2rem; }
  #divider--3 .outtro__links--header {
    font-size: 2rem; }
  #divider--3 .outtro--link div > a {
    font-size: 2rem; }
  #divider--3 .outtro--img img {
    width: 20% !important; } }

@media (max-width: 759px) {
  .desktop__nav--container {
    display: none; } }

.hamburger--hover:hover {
  animation: hamburgerHover 0.7s forwards ease-in; }

@keyframes hamburgerHover {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }

.hamburger--hover:active {
  animation: hamburgerCheck 0.5s forwards ease-in; }

@keyframes hamburgerCheck {
  100% {
    transform: translateY(50px); } }

.mobile--dropdown .mobile--ul {
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  transform: translateY(0); }

.heading--animation {
  animation: headingSlide 1s forwards ease-in-out; }

@keyframes headingSlide {
  0% {
    transform: translateX(-1000px); }
  100% {
    transform: translateX(0); } }

.span--animation {
  animation: spanSlide 1s forwards ease-in-out; }

@keyframes spanSlide {
  0% {
    transform: translateX(1000px); }
  100% {
    transform: translateX(0); } }

.icon--transition {
  animation: iconTransition 1s forwards ease-in; }

@keyframes iconTransition {
  0% {
    opacity: 0.2;
    transform: scale(0.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }

#divider--3 {
  background-color: black; }
  #divider--3 .outro--wrapper {
    display: flex; }
  #divider--3 .outtro--div {
    width: 50%;
    padding: 1rem;
    color: #fff; }
  #divider--3 .outtro--img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    padding-top: 2rem;
    background-color: #fff; }
    #divider--3 .outtro--img img {
      width: 30%; }
  #divider--3 .outtro--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2rem; }
  #divider--3 .outtro--text {
    max-width: 45ch; }
  #divider--3 .outtro__links--header {
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center; }
  #divider--3 .outtro--links {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem; }
    #divider--3 .outtro--links div {
      display: flex;
      width: 50%; }
      #divider--3 .outtro--links div a {
        color: black;
        transition: all 0.5s; }
        #divider--3 .outtro--links div a:hover {
          transition: all 0.5s;
          transform: scale(1.2); }
    #divider--3 .outtro--links .left {
      justify-content: flex-end;
      padding: 0.5rem; }
    #divider--3 .outtro--links .right {
      justify-content: flex-start;
      padding: 0.5rem; }

footer {
  background-color: black; }
  footer .footer--heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  footer .footer--remain {
    margin-bottom: 0.5rem;
    display: flex; }
    footer .footer--remain div {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
  footer .footer--credit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.2rem; }
  footer .icon--links {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .icon--links a {
      margin: 0 0.2rem;
      color: #fff;
      font-size: 0.8rem;
      font-weight: 500; }
