@import '../abstracts/mixins';

.navigation__toggle {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;

  .toggle--btn {
    height: 0.3rem;
    width: 100%;
    background: #fff;
    border-radius: 0.1rem;
  }
}

.navigation__link {
  @include bgFontColor;
}

.btn {
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  width: 40%;
  text-align: center;
  @include btnLight;
}

.navigation__button--dark {
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  @include btnDark;
}
