@import '../abstracts/variables';

.hamburger--btn {
  padding-left: 1rem;
  color: #fff;
}

.fa-eye {
  padding-top: 0.5rem;
}

.fa-gem {
  display: inline-block;
  background-color: none !important;
  padding: 0 1rem;
}

.fa-caret-right {
  margin: 0 1rem;
}

.fa-calendar-check {
  font-size: 4rem;
}

.fa-cut {
  font-size: 4rem;
}

.footer--icon {
  color: $light-color;
  font-size: 1.2rem;
  transition: all 0.5s;
  margin: 0 0.1rem;
  -webkit-transition: all 0.5s;

  &:hover {
    color: $font-color1;
  }
}
