@import '../abstracts/variables';
@import '../abstracts/animations';

@media (min-width: 1150px) {
  .mobile__nav--container {
    display: none;
  }

  .desktop__nav--container {
    display: contents;
  }

  .heading {
    font-size: 4rem;
  }

  .heading--text {
    font-size: 2.5rem !important;
  }

  .btn {
    width: 25%;
  }

  #about {
    .container {
      .heading--div {
        flex-direction: row;
      }
      .description--div {
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          max-width: 100ch;
          font-size: 1.6rem;
        }

        ul {
          margin-top: 2rem;
          display: flex;
          font-size: 1.3rem;
        }
      }

      .img--div {
        .shop--front {
          display: none;
        }
      }
    }
  }

  #divider {
    text-align: center;
    h4 {
      display: inline;
      flex-direction: row;
      font-size: 2.85rem;
    }
    span {
      margin-left: 0.2rem;
      display: inline;
      font-size: 2.85rem;
    }
  }

  #booking {
    .container {
      .heading--div {
        flex-direction: row;
      }

      .description--div {
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          max-width: 100ch;
          font-size: 1.6rem;
        }

        .navigation__button--dark {
          width: 50%;
          text-align: center;
        }
      }
    }
  }

  #divider--2 {
    text-align: center;

    h4 {
      display: inline;
      font-size: 2.85rem;
      font-family: 'Fjalla One';
    }

    span {
      display: inline;
      font-size: 2.85rem;
      margin-left: 0.2rem;
    }
  }

  #gallery {
    .container {
      .heading--div {
        flex-direction: row;
      }

      .description--div {
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          max-width: 100ch;
          font-size: 1.6rem;
        }
      }
    }
  }

  #divider--3 {
    .outtro--description {
      .outtro--text {
        max-width: 100ch;
        font-size: 1.2rem;
      }
    }

    .outtro__links--header {
      font-size: 2rem;
    }

    .outtro--link {
      div > a {
        font-size: 2rem;
      }
    }

    .outtro--img {
      img {
        width: 20% !important;
      }
    }
  }
}

@media (min-width: 760px) and (max-width: 1149px) {
  .mobile__nav--container {
    display: none;
  }

  .desktop__nav--container {
    display: contents;
  }

  .heading {
    font-size: 2.5rem;
  }

  .heading--text {
    font-size: 2rem !important;
  }

  .btn {
    width: 25%;
  }

  #about {
    .container {
      .heading--div {
        flex-direction: row;
      }
      .description--div {
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          max-width: 60ch;
          font-size: 1.5rem;
        }

        ul {
          margin-top: 2rem;
          display: flex;
          font-size: 1.2rem;
        }
      }

      .img--div {
        .shop--front {
          display: none;
        }
      }
    }
  }

  #divider {
    text-align: center;
    h4 {
      display: inline;
      flex-direction: row;
      font-size: 2.85rem;
    }
    span {
      margin-left: 0.2rem;
      display: inline;
      font-size: 2.85rem;
    }
  }

  #booking {
    .container {
      .heading--div {
        flex-direction: row;
      }

      .description--div {
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          max-width: 60ch;
          font-size: 1.5rem;
        }

        .navigation__button--dark {
          width: 50%;
          text-align: center;
        }
      }
    }
  }

  #divider--2 {
    text-align: center;

    h4 {
      display: inline;
      font-size: 2.85rem;
      font-family: 'Fjalla One';
    }

    span {
      display: inline;
      font-size: 2.85rem;
      margin-left: 0.2rem;
    }
  }

  #gallery {
    .container {
      .heading--div {
        flex-direction: row;
      }

      .description--div {
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          max-width: 60ch;
          font-size: 1.5rem;
        }
      }
    }
  }

  #divider--3 {
    .outtro--description {
      .outtro--text {
        max-width: 100ch;
        font-size: 1.2rem;
      }
    }

    .outtro__links--header {
      font-size: 2rem;
    }

    .outtro--link {
      div > a {
        font-size: 2rem;
      }
    }

    .outtro--img {
      img {
        width: 20% !important;
      }
    }
  }
}

@media (max-width: 759px) {
  .desktop__nav--container {
    display: none;
  }
}
