.heading--div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
}

.description--div {
  ul {
    margin-top: 1rem;
  }
}
