#location__section {
  height: 50vh;
  width: 100%;

  .bg--image {
    background-image: url("../img/barberpole2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
  }

  #mapid {
    height: 100%;
    width: 100%;
  }
}
