@import '../abstracts/variables';

footer {
  background-color: black;

  .footer--heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer--remain {
    margin-bottom: 0.5rem;
    display: flex;

    div {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .footer--credit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.2rem;
  }

  .icon--links {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0 0.2rem;
      color: $light-color;
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}
